$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1: #f7f7f7;
//variables for the grid

$grid-width: 130rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 2rem;

///text variables
$default-font: 1.6rem;

//cards
$color-card-1f: #ffb900;
$color-card-1b: #ff7730;

$color-card-3f: #2998ff;
$color-card-3b: #5643fa;