.composition{
    position: relative;
    &__photo{
        width: 70%;
        box-shadow: 0 1rem 4rem rgba(#000000, .4);
        position: absolute;
        z-index: 10;
        transition: all .2s;
    
        &--p1{
            left: 50%;
            top: -4rem;
        }
        
         &--p2{
            right: 9rem;
            top: 35rem;
        }
        
         &--p3{
            left: 2%;
            top: 0rem;
        }
        
         &--p4{
            left: 20%;
            top: 15rem;
        }
        
         &--p5{
            right: 130%;
            top: 35rem;
        }
        
         &--p6{
            left: -50%;
            top: 38rem;
        }
        
        &--p7{
            left: 70%;
            top: 25rem;
        }
        
        &:hover{
            transform: scale(1.1);
            box-shadow: 0 2rem 4rem rgba(#000000, .5);
            z-index: 20;
        }
    }

    
}