.section-about{
    background-color: #181a1f;
    margin-top: 25vh;
    height: 95vh;
    
    
}


.section-tours
{
    background-color: #181a1f;
    padding: 15rem 0 5rem 0;
    /*margin-top: -25vh;*/
    margin-bottom: 0;
}